body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: #42b983;
}
h4 {
  text-align: left;
}
nav {
  background-color: #1E578A !important;
  color: #fff;
  padding-top: 15px;
  margin-bottom: 15px;
}
.qSection {
  width: 70%;
  margin-left: 15%;
}
select {
  font-size: 14pt;
}
@media (max-width: 1000px) {
  select {
    max-width: 80%;
  }

  .qSection {
    width: 100%;
    margin-left: 0;
  }

  .input-group-text {
    max-height: 40px;
  }
}
a {
  color: #42b983;
}
.form-inline {
  display: block;
  margin-bottom: 20px;
}
.form-inline input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.form-inline .input-group-append, .form-inline .input-group-text {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.percent-block {
  display: flex;
  margin-right: 15px;
}
input {
  max-width: 100px !important;
}
.cohorts input {
  border-radius: 0;
  width: 100px !important;
}
.percent-readout, .cohorts input.percent-readout {
  width: 100px !important;
}
.cohorts .input-group-append {
  margin-right: 15px;
}

label.scenario {
  cursor: pointer;
  padding: 8px;
  border: 2px solid silver;
  border-radius: 8px;
}
label.scenario.select {
  border: 2px solid skyblue;
}
label.scenario input {
  margin-right: 12px;
}
label.scenario strong {
  margin-right: 8px;
}

#separator {
  border: 1px solid skyblue;
  border-radius: 5px;
  margin-top: 3em;
  margin-bottom: 3em;
}

.prefill .form-group {
  margin-top: -1.5em;
  margin-bottom: -1.5em;
}

.suggestions {
  text-align: left;
}

.suggestions h3 {
  text-align: center;
}
.middleText {
  height: 100%;
  padding-top: 10px;
  padding-left: 6px;
  margin-right: -7px;
}

td em {
  font-size: 80%;
  font-weight: 400;
}
td small {
  padding-right: 15px;
  display: block;
  line-height: 180%;
}
table {
  margin-bottom: 40px;
}
